.container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}
.myphoto {
    width: 120px;
    border-radius: 9999px;
    animation-name: movein;
    animation-duration: 2s;
}
@keyframes movein {
    from {
        opacity: 0;
        transform: translateY(-100) scale(2);
    }
    to {
        opacity: 1;
    }
}
.photo {
    text-align: center;
}
.name {
    text-align: center;
}
h1 {
    font-family: sans-serif;
    color: #de1895;
    font-size: 28px;
}
.info {
    color: #980656;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.button{
    display: block;
    border: 1px solid #96008c;
    padding: 20px;
    text-align: center;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px; 
}
.button a {
    color: #3d3d3d;
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 4px;
    transition: color 0.3s ease;
}
.button:hover {
    background: linear-gradient(90deg, #fb9bc9, #a3cefd); 
    border-color: #f4f807;
}
.icon{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 60px;
}
body{
    height: 2000px;
}
.top{
    display: block;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: thistle;
}.box{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}
.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.work-item img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    transition: all 500ms linear;
}
.work-item{
    position: relative;
    line-height: 0;
    overflow: hidden;
    display: inline-block;
    border-radius: 15px;
}
.work-item img:hover{
    transform: scale(1.2);
    filter: blur(5px);
}
.work-title{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #00857e;
    font-family: sans-serif;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500; 
}
.work-item:hover .work-title{
    opacity: 1;
}
.work-item:hover img {
    transform: scale(1.5);
    filter: blur(3px);
    transform: rotateY(30deg) rotateX(20deg);
    box-shadow: 0 20px 30px rgba(255, 0, 221, 0.3);
}
h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
}
.info {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400; 
}
